
 <!-- Modal -->
 <div class="modal fade" id="category" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="pl-5 pt-2">Add New Category</h1>
            </div>
            <div class="modal-body customer-box">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="Login">
                        <form method="POST" action="/categories" class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="text" name="name" class="form-control"
                                        placeholder="Category Name">
                                </div>
                            </div>
                            <div class="row pr-0 m-0">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-light btn-radius btn-brd grd1 float-right">
                                        Create
                                    </button>
                                    <button type="submit" class="btn btn-light btn-radius btn-brd grd1 float-right"
                                        data-dismiss="modal" aria-hidden="true">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

