				
        <div class="blog-author">
            <div class="author-bio">
                <h3 class="author_name"><a href="#">Tom Jobs</a></h3>
                <h5>CEO at <a href="#">SmartEDU</a></h5>
                <p class="author_det">
                    Lorem ipsum dolor sit amet, consectetur adip, sed do eiusmod tempor incididunt  ut aut reiciendise voluptat maiores alias consequaturs aut perferendis doloribus omnis saperet docendi nec, eos ea alii molestiae aliquand.
                </p>
            </div>
            <div class="author-desc">
                <img src="/images/author.jpg" alt="about author">
            </div>
        </div>
        
