
        <div class="row">
            <% for (let i=0; i< user.courses.length; i++) { %>
                <%- include('../partials/_course.ejs', {i, courses : user.courses}) -%>
            <% } %>
            
            <div class="row">
                <div class="col-lg-12 blog-post-single">
                    <!-- blog author -->
                    <%- include('../partials/_blogAuthor.ejs') -%>
                </div><!-- end col -->
            </div><!-- end row -->
            

        </div><!-- end row -->
